.tags {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    margin: 0.25em;
    border-radius: 99em;
    padding: 0.2em 1em;
    font-size: 1.15em;
    background-color: #00539f;
    color: white;
    & a {
        color: white;
        text-decoration: none;
    }
}
