---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Blog";
import BlogPost from '../components/BlogPost.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
---

<BaseLayout>
    <h2>{pageTitle}</h2>
    <p>And now for something completely different</p>
    <h3>All posts</h3>
    <ul>
      {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} image={post.frontmatter.image}/>)}  
    </ul>
  </BaseLayout>