---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Blog";
---

<BaseLayout>
    <h2>{pageTitle}</h2>
    <p>And now for something completely different</p>
    <h3>All posts</h3>
    <ul>
      <li><a href="/posts/post-1/">Post 1</a></li>
      <li><a href="/posts/post-2/">Post 2</a></li>
      <li><a href="/posts/post-3/">Post 3</a></li>
    </ul>
  </BaseLayout>