---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
const pageTitle = "The Blank Page";
---

<Header/>
	<Navigation/>
	<h2>Cover: {pageTitle}</h2>
	<p>This is where I will post about my journey learning Astro.</p>
	<h3>Featured post</h3>
	<p>...</p>
	<h3>Last three posts</h3>
<Footer />
