---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "The Blank Page";
---
<BaseLayout>
	<h2>Cover: {pageTitle}</h2>
	<p>This is where I will post about my journey learning Astro.</p>
	<h3>Featured post</h3>
	<p>...</p>
	<h3>Last three posts</h3>
	<ul>
		<li><a href="/posts/post-1/">Post 1</a></li>
		<li><a href="/posts/post-2/">Post 2</a></li>
		<li><a href="/posts/post-3/">Post 3</a></li>
	</ul>
</BaseLayout>
