---
import { ViewTransitions } from "astro:transitions"
import Navigation from '../components/Navigation.astro';
---
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Potopoblog</title>
    <ViewTransitions />
</head>
<body>
    <div class="header">
        <img src="/images/potopoto_logo.png" alt="Logo">
        <h1>Potopoblog</h1>
        <Navigation/>
    </div>
